*blx.bib
*.bbl
*.blg
*.aux
*.log
*.out
*.run.xml
*.swp
*.user
*.ipch
*.suo

/RGBD-to-Mesh/x64/Release/*.tlog

/RGBD-to-Mesh/x64/Release
/EventBasedRead/Debug/*.tlog
/EventBasedRead/Debug

/EventBasedRead/x64/Release/*.tlog
/Simple Viewer/x64/Release

/x64/Release

/EventBasedRead/x64/Release

/AllProjects.v11.suo
/EventBasedRead/EventBasedRead.opensdf
/EventBasedRead/EventBasedRead.sdf
/Simple Viewer/SimpleViewer.opensdf
/Simple Viewer/SimpleViewer.sdf
/Simple Viewer/SimpleViewer.v11.suo
/docs/pitch/pitch.synctex.gz

/RGBD-to-Mesh/x64/Debug
/EventBasedRead/x64/Debug

/Simple Viewer/x64/Debug

/x64/Debug

/RGBD-to-Mesh/logs/recording

/*.sdf
/*.opensdf

/CUDA-Mesh/x64/Release

/Simple Viewer/Release

/RGBD-to-Mesh/Release
/EventBasedRead/Release

/Release

/RGBD-to-Mesh/RGBD-to-Mesh.vcxproj.user

/Recorder-Viewer/Release
/Recorder-Viewer/x64/Release/*.tlog

/Recorder-Viewer/x64/Release

/CUDA-Mesh/logs

/CUDA-Mesh/x64/Debug

/Recorder-Viewer/x64/Debug

/CUDA-Mesh/*.pdb

/Recorder-Viewer/logs/flat-angled
/Recorder-Viewer/logs/flat-square

/Recorder-Viewer/logs/flat-wall-synced
/Demo Reel.wlmp
/Demo Reel.mp4
/RGBDFrameworkLib/x64/Release/*.tlog

/RGBDFrameworkLib/x64/Release/*.lastbuildstate

/RGBDFrameworkLib/x64/Release/*.pdb

/RGBDFrameworkLib/x64/Release/*.unsuccessfulbuild
/RGBDFrameworkLib/x64/Debug/*.tlog

/RGBDFrameworkLib/x64/Debug/*.obj

/RGBDFrameworkLib/x64/Debug/*.pdb

/RGBDFrameworkLib/x64/Debug/*.lastbuildstate

/oleaut32.pdb/1FEB56FFD5244668835CCD433DD9EBA82/*.pd_
/Recorder-Viewer/logs/boardandboxgraspfield
/Recorder-Viewer/logs/cabinetgraspfield
/Recorder-Viewer/logs/closechairgraspfield
/Recorder-Viewer/logs/conesgraspfield
/Recorder-Viewer/logs/darwinboxgraspfield
/Recorder-Viewer/logs/dboxpluschairgraspfield
/Recorder-Viewer/logs/emptygraspfield
/Recorder-Viewer/logs/foamboxesgraspfield
/Recorder-Viewer/logs/naograspfield
/docs/samplehistogramdata/*.asv
/CUDA-Mesh.psess
/CUDA-Mesh/CUDA-Mesh.vcxproj.collin.nvuser
